<apex:page standardController="Nugget__c" tabStyle="Nugget__c">
<flow:interview name="Channel_Management" finishLocation="/apex/NuggetTabView?id={!Nugget__c.Id}">
        <apex:param name="vaNuggetID" value="{!Nugget__c.Id}"/>
        <apex:param name="varCurrentUserID" value="{!$User.Id}"/>
    </flow:interview>
</apex:page>