<apex:page controller="dashboardViewLinksController">
	<apex:form >
		<apex:selectList value="{!link}" size="1" multiselect="false">
			<apex:selectOptions value="{!options}" />
			<apex:actionSupport event="onchange" action="{!assign}" />
		</apex:selectList>
		<apex:commandButton value=" Go " onclick="go();" />
	</apex:form>
	
	<script type="text/javascript">
		function go() {
			window.open("{!link}");
		}
	</script>
	
</apex:page>