<apex:page standardController="Opportunity" extensions="invoicingContactController" >
 
<apex:form >
<apex:PageBlock title="Invoicing Contact Information (Required)"> 
   <apex:pageBlockSection columns="1" >
         <apex:outputPanel style="position:absolute;left:45%">
        <apex:commandButton value="Change/Add New Invoicing Contact" action="{!showSection}" rendered="{!hideshow2}" />     
       </apex:outputPanel>
    </apex:pageBlockSection> 
    <br/>
    <br/>
    <apex:pageBlockSection collapsible="false" columns="1" rendered="{!hideshow2}" >    
        <apex:outputText value="Please verify that the Invoicing Contact and Email displayed below are correct." style="width:100%;font-weight:bold;text-align:center;font-size:13px;"/>
        <apex:outputText value="If the information displayed is correct, no action is required!"></apex:outputText>  
        <apex:outputText value="If there is no information displayed, or if the information is not correct, please click the Change/Add New Invoicing Contact button to get it updated." style="width:100%;"/>
        <apex:outputText value="*REMINDER* You will not be able to submit for finance approval unless you have an Invoicing Contact listed here." style="width:100%; color:blue"/>
    </apex:pageBlockSection>
    <br/>
    <apex:pageBlockSection collapsible="false" rendered="{!hideshow2 }" >
    <apex:outputfield value="{!a.Invoicing_Contact__c}" rendered="{!editMode == false}"/>
    <apex:inputfield value="{!a.Invoicing_Contact__c}" rendered="{!editMode == true}"/>
    <apex:outputfield value="{!a.c2g__CODAInvoiceEmail__c}" rendered="{!editMode == false}"/> 
    <apex:inputfield value="{!con.Email}" rendered="{!editMode == true}"/> 

    </apex:pageBlockSection>

    
    
    <apex:pageBlockSection title="Select Existing Contact" collapsible="false" rendered="{!hideshow}" columns="1">
     <apex:outputPanel style="position:absolute;left:45%">
        <apex:commandButton value="Confirm Existing Contact" Action="{!conUpdate2}" rendered="{!hideshow}"/>
        
        <apex:outputLink value="/{!Opportunity.id}" target="_top" style="text-decoration:none; padding:4px" styleclass="btn" rendered="{!hideshow}">Cancel</apex:outputLink>  
        </apex:outputPanel> 
    </apex:pageBlockSection>
    <br/>
    <apex:PageBlockSection collapsible="false" rendered="{!hideshow}">
    <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Contact List" for="conlist" />
                        <apex:outputPanel >
                            <apex:selectList id="conlist" value="{!SelectedContact}" size="1" style="width:160px">
                                <apex:selectOptions value="{!accountContacts}" />
                                <apex:ActionSupport event="onchange" action="{!getEmail}" />
                            </apex:selectList>
                            &nbsp;
                        <apex:outputText value="Don't see them listed here? Please go ahead and enter a new contact below." />
                        </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:inputField value="{!a.c2g__CODAInvoiceEmail__c}" />
    </apex:pageBlockSection>
    
    
    <apex:pageBlockSection title="New Contact Information" collapsible="false" rendered="{!hideshow}">
        <apex:outputPanel style="position:absolute;left:46%">
        <apex:commandButton value="Add New" Action="{!addContact}" rendered="{!editMode = false}"/>
        <apex:outputText value=" " />
        <apex:commandButton value="Save New Contact" Action="{!conSave}" rendered="{!editMode = true}"/>
        <apex:outputLink value="/{!Opportunity.id}" target="_top" style="text-decoration:none; padding:4px" styleclass="btn" rendered="{!editMode = true}">Cancel</apex:outputLink>     
        </apex:outputPanel> 
    </apex:pageBlockSection>
    <apex:pageBlockSection collapsible="false" rendered="{!hideshow}">   
    <apex:inputField value="{!NewCon.FirstName}" rendered="{!editMode = true}" />
    <apex:inputField value="{!NewCon.LastName}" rendered="{!editMode = true}"/>
    <apex:inputField value="{!NewCon.Email}" rendered="{!editMode = true}" />
    <apex:inputField value="{!NewCon.Phone}" rendered="{!editMode = true}" />
    <apex:outputField value="{!NewCon.FirstName}" rendered="{!editMode = false}" />
    <apex:outputField value="{!NewCon.LastName}" rendered="{!editMode = false}"/>
    <apex:outputField value="{!NewCon.Email}" rendered="{!editMode = false}" />
    <apex:outputField value="{!NewCon.Phone}" rendered="{!editMode = false}" />
    </apex:pageBlockSection>
     

</apex:PageBlock>    
</apex:form>     
</apex:page>