<apex:page standardController="Nugget__c" extensions="NuggetConvert_Controller" >
<apex:form >
    <style type = "text/css">
        .isUsedCheckBox
        {   
            font-size:17px;
            margin-right:20%;
            margin-top:17px;
            text-align:center;
        }
    </style>
<br/>
<apex:OutputText escape="false" value="&nbsp;&nbsp;&nbsp;Instructions:" style="Font-Weight:Bold; size:16px;"/>
<br/>
<apex:OutputText escape="false" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- If there is no match with an Existing Account, or if the proposed match to an Existing Account is not correct, first try to search to find a better match, and if you do not find a match in your search, a new Account may be created by clicking the <b>Create New Account</b> Button." style="size:14px;"/>
<br/>
<apex:OutputText escape="false" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- If selecting an Account to merge the Nugget record with, the Nugget will be associated with the existing Account and available on the Account page layout." style="size:14px;" />
<br/>
<apex:OutputText escape="false" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- If selecting a Lead(s) to merge with the Nugget record, the selected Lead(s) will be converted to a Contact and associated to either the existing Account selected below or the new Account created." style="size:14px;" />
<br/>
<br/>
<apex:pageBlock >
<apex:pageBlockButtons >
<apex:commandButton value="Convert" action="{!convert}" />
<apex:commandButton value="Create New Account" action="{!createacct}"/>
<apex:commandButton value="Cancel" action="{!cancel}"/>
</apex:pageBlockButtons>
<apex:OutputText value="Please select an Account that should be merged with this record." style="Font-Weight:Bold; size:14px;" rendered="{!accts}"/>
<apex:OutputText escape="false" value="There are no matches for this record, please click Create New Account to continue." style="Font-Weight:Bold; size:14px;" rendered="{!nomatches}"/>
<br/>


<br/>
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlockSection title="Matching Accounts" columns="1" rendered="{!accts}">
<apex:pageBlockTable value="{!anm}" var="nms" title="Matching Leads" width="100%" >
<apex:column headerValue="Select">
<apex:inputfield value="{!nms.Merge_with_Nugget_Account__c}"/>
</apex:column>
<apex:column headerValue="Account Id" value="{!nms.Id}" width="175px"/>
<apex:column headerValue="Account Name" value="{!nms.Matching_Account__r.Name}"/>
<apex:column headerValue="State" value="{!nms.Matching_Account__r.BillingState}"/>
<apex:column headerValue="Country" value="{!nms.Matching_Account__r.BillingCountry}"/>
<apex:column headerValue="Owner" value="{!nms.Matching_Account__r.Owner.Name}"/>


</apex:pageBlockTable>
</apex:pageBlockSection>
<br/>
<apex:OutputText value="Please select any Leads that should be merged with this record." style="Font-Weight:Bold; size:14px;" rendered="{!leads}"/>
<br/>
<apex:pageBlockSection title="Matching Leads" columns="1" rendered="{!leads}">
<apex:pageBlockTable value="{!nm}" var="nms" title="Matching Leads" width="100%" >
<apex:column headerValue="Select">
<apex:inputField value="{!nms.Merge_with_Nugget_Account__c}"/>
</apex:column>
<apex:column headerValue="Lead Id" value="{!nms.Id}" width="175px"/>
<apex:column headerValue="Lead Name" value="{!nms.Matching_Lead__r.Name}"/>
<apex:column headerValue="Company" value="{!nms.Matching_Lead__r.Company}"/>
<apex:column headerValue="State" value="{!nms.Matching_Lead__r.Country}"/>
<apex:column headerValue="Owner" value="{!nms.Matching_Lead__r.Owner.Name}"/>


</apex:pageBlockTable>

</apex:pageBlockSection>

<apex:outputPanel styleClass="isUsedCheckBox"  layout="block">
    <apex:outputLabel value="{!$ObjectType.Nugget__c.Fields.Used_in_Sales_Cycle__c.label}"  style="font-weight:bold; text-align:center" />
    <apex:inputCheckbox value="{!usedInSalesCycle}" />
</apex:outputPanel>

</apex:pageBlock>

<apex:pageBlock title="Search for a different Lead or Account below">
    <apex:pageBlockButtons >
        <apex:commandButton value="Convert Nugget Using Search Results" action="{!convertSearchResults}" />
    </apex:pageBlockButtons>
        <apex:pageBlockSection >
            <apex:inputText label="Search:" value="{!searchInput}" title="Search for Name of Company">
                <apex:actionSupport event="onkeyup" action="{!find}" reRender="theAcctTable,theLeadTable"/>
            </apex:inputText>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Account Search Results">
            <apex:pageBlockTable value="{!searchAccounts}" var="acct" id="theAcctTable">
                <apex:column headerValue="Select">
                    <apex:inputCheckbox value="{!acct.isSelected}"/>
                </apex:column>
                <apex:column headerValue="Account Name" value="{!acct.anAcct.Name}"/>
                <apex:column headerValue="Account Link" >
                    <apex:outputLink value="/apex/Acct_Tab_View?id={!acct.anAcct.Id}">{!acct.anAcct.Id} </apex:outputLink>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Lead Search Results">
            <apex:pageBlockTable value="{!searchLeads}" var="lead" id="theLeadTable">
                <apex:column headerValue="Select">
                    <apex:inputCheckbox value="{!lead.isSelected}"/>
                </apex:column>
                <apex:column headerValue="Company Name" value="{!lead.aLead.Company}"/>
                <apex:column headerValue="Lead Link" >
                    <apex:outputLink value="/apex/Lead_Tab_View?id={!lead.aLead.Id}">{!lead.aLead.Id} </apex:outputLink>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlockSection>
</apex:pageBlock>       
    
</apex:form>
</apex:page>