<apex:page standardController="Account" tabStyle="Account">
    <flow:interview name="TaskCreate" finishLocation="https://ssl.salesforce.com/apex/Acct_Tab_View?id={!Account.Id}">
        <apex:param name="vaAccountID" value="{!Account.Id}"/>
    </flow:interview>
</apex:page>