<apex:page standardController="Opportunity" extensions="SFDCtoAPIController" sidebar="false" showHeader="false">

<style>
	img
	{
		display: block;
		margin: 0 auto;
	}
</style>

<script type="text/javascript">
	window.onload = function()
	{
		var confirmsync = confirm("Are you sure you want to sync the information on this opportunity with Internal Tools?");
		if( confirmsync )
		{
			Save();
		}
		else
		{
			window.close();
			return false;
		}
	}
	
	function closeWindow(){ 
        window.close();

   } 
</script>

<apex:form >
<apex:outputPanel id="panel">
	<apex:pageMessages id="messages"/>
</apex:outputPanel>
<input type="button" value='Close Tab' onclick="closeWindow()"/>
	<apex:actionFunction action="{!SaveRealmId}" name="Save" rerender="panel" status="displaywheel" />
</apex:form>
<apex:actionstatus id="displaywheel">
	<apex:facet name="start">
		<apex:image url="{!$Resource.LoadingWheel}" />
	</apex:facet>
</apex:actionstatus>
</apex:page>